{% extends "utils/_utils.templates_with_header.html" %}
    {% block head %}
        <title>Finances - Accounts Receivable</title>
    {% endblock %}
  
    {% block body %}
        <main style="flex-grow: 1; display: flex; flex-direction: column;">
            <h1>Contas a Receber</h1>
            <div class="my-4 d-flex  justify-content-between" style="height: 680px;" >
             


            </div>
           
        </main>
    {% endblock %}

    
    {% block scripts %}

    {% endblock %}