{% extends "utils/_utils.templates.html" %}
    {% block head %}
        <title>Finances</title>
        <link rel="stylesheet" href="/css/login.css">
    {% endblock %}

    {% block body %}
        <main id="main-login">
            <div id="logreg-forms">
            <form class="form-signin">
                <h1 class="h4 mb-3 font-weight-bold" style="text-align: center">Sign in</h1>

                <div class="items-input-signin">
                    <input type="text" id="inputUsername" class="form-control" placeholder="Email Address" autofocus="">
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" >
                </div>
                
                <button class="btn btn-success btn-block" type="submit" id="submit-signin"><i class="fas fa-sign-in-alt"></i> Sign in</button>
                <a href="#" id="forgot_pswd">Forgot password?</a>
                <hr>
                <!-- <p>Don't have an account!</p>  -->
                <button class="btn btn-primary btn-block" type="button" id="btn-signup"><i class="fas fa-user-plus"></i> Sign up New Account</button>
                </form>

                <form class="form-reset">
                    <h1 class="h4 mb-3 font-weight-bold" style="text-align: center">Reset</h1>
                    <div id="loading-icon"></div>
                    <div class="items-input-reset">
                        <input type="email" id="resetEmail" class="form-control" placeholder="Email address"  autofocus="">
                    </div>
                    <button id="submit-reset" class="btn btn-primary btn-block" type="submit">Reset Password</button>
                    <a href="#" id="cancel_reset"><i class="fas fa-angle-left"></i> Back</a>
                </form>
                
                <form  class="form-signup">
                    <div class="items-input">
                        <h1 class="h4 mb-3 font-weight-bold" style="text-align: center;">Sign up</h1>
                        <input type="text" id="user-fullname" class="form-control" placeholder="Full name"  autofocus="">
                        <input type="text" id="user-name" class="form-control" placeholder="Username"  autofocus="">
                        <input type="email" id="user-email" class="form-control" placeholder="Email Address" required autofocus="">
                        <input type="password" id="user-pass" class="form-control" placeholder="Password" required autofocus="">
                        <input type="password" id="user-repeatpass" class="form-control" placeholder="Repeat Password" required autofocus="">
                    </div>
                 

                    <button id="submit-signup" class="btn btn-primary btn-block" type="submit"><i class="fas fa-user-plus"></i> Sign Up</button>
                    <a href="#" id="cancel_signup"><i class="fas fa-angle-left"></i> Back</a>
                </form>
                <br>
        </div>
        </main>
        
    {% endblock %}

    {% block scripts %}
        <script type="module" src="/js/login.js"></script>
    {% endblock %}