{% extends "utils/_utils.templates_with_header.html" %}
    {% block head %}
        <title>Finances - Transaction</title>
    {% endblock %}

    {% block body %}
        <main>
            <h1 class="font-weight-bold">Lancamento Simples</h1>
            <form>
                <input type="text"  class="form-control" placeholder="Nome">
                <input type="text"  class="form-control" placeholder="Valor" >
                <input type="text"  class="form-control" placeholder="Tipo" >
                <input type="text"  class="form-control" placeholder="Conta" >
            </form>
        </main>
    {% endblock %}

    {% block scripts %}
        <script type="module" src="/js/pages.transaction.js"></script>
    {% endblock %}