{% extends "utils/_utils.templates_with_header.html" %}
    {% block head %}
        <title>Finances - Transaction</title>
    {% endblock %}

    {% block body %}
        <main style="flex-grow: 1; display: flex; flex-direction: column;">
            <div class="d-flex w-100 justify-content-between align-items-center">
                <h1>Lançamento Simples</h1>
            </div>
            <div><hr></div>
            <div class="d-flex" style="flex-grow: 1;" >
                <form class="w-50" id="form-transaction-simple">
                    <div>
                        <div class="form-group mb-2">
                            <label class="mb-0" for="titulo-transacao">Identifique o Lançamento</label>
                            <input id="titulo-transacao" type="text" class="form-control" autofocus>
                        </div>
                       
                        
                        <div class="form-group mb-2">
                            <label class="mb-0"  for="valor-transacao">Valor da transação</label>
                            <input id="valor-transacao"  min="0" inputmode="numeric"  class="form-control" placeholder="00.00" autofocus>
                        </div>
                        
                        
                        <div class="form-group mb-2">
                            <label  class="mb-0"  for="natureza-lancamento" class="mb-0">Natureza do Lançamento</label>
                            <select id="natureza-lancamento">
                                <option value="1">Débito</option>
                                <option value="2">Crédito</option>
                            </select>    
                        </div>
                       
                        <div class="form-group mb-2">
                            <label  class="mb-0" for="conta-financeira">Conta Financeira</label>
                            <select id='conta-financeira'></select>
                        </div>

                        <div class="form-group mb-2">
                            <label  class="mb-0" for="categoria-lancamento">Categoria</label>
                            <select id='categoria-lancamento'>¨</select>
                        </div>
                
                    </div>
                        
                    <button id="add-new-transaction-simple" type="submit" class="btn w-100">Confirmar</button>
                </form>
            </div>
        </main>
    {% endblock %}

    {% block scripts %}
        <script type="module" src="/js/pages/pages.transactionSimple.js"></script>
    {% endblock %}