{% extends "utils/_utils.templates_with_header.html" %}
    {% block head %}
        <title>Finances - Account</title>
        <link rel="stylesheet" href="/css/pages/pages.account.css">
    {% endblock %}

    {% block body %}
        <main style="flex-grow: 1; display: flex; flex-direction: column;">
            <div id="loading">
                <div class="spinner"></div>
            </div>
            <div class="main-page" style="display: none;">
                <h1>Contas Financeiras</h1>  
                <div class="my-4 d-flex  justify-content-between" style="flex-grow: 1;" >
                    <div class="py-5 px-5 square-container" style="margin-right: 5px;display: flex; flex-direction: column;">
                        <h4>Minhas Contas</h4>
                        <div>
                            <hr>
                        </div>
                        <div style="min-height: 250px;">
                            <table  id="table-accounts">
                                <thead>
                                    <th style="width: 50%;">Nome</th>
                                    <th style="width:50%";>Saldo Atual</th>
                                </thead>
                                <tbody id="t-body-accounts"></tbody>
                            </table>
                            
                        </div>
                        <div style="margin-top: 15px;">
                            <p><strong>Obs.:</strong> O limite de contas exibidas são cinco.</p>
                        </div> 
                   
                        <div style="flex-grow: 1; display: flex; align-items: flex-end; justify-content: flex-end;">
                            <button id="btn-more-details" class="btn w-100">Mais detalhes</button>
                        </div>
                    </div>
                    <div class="py-5 px-5 d-flex flex-column square-container" style="margin-left: 5px;" >
                        <div  style="flex:1;">
                            <h4>Mais movimentações</h4>
                            <hr>                        
                        </div>
                        <div style="flex:1; display: flex; flex-direction: column;">
                            <h4>Maior saldo</h4>
                            <div>
                                <hr>
                            </div>
                            <div style="flex-grow: 1;">
                                <table  id="table-max-amount">
                                    <thead>
                                        <th style="width: 50%;">Nome</th>
                                        <th style="width:50%";>Saldo Atual</th>
                                    </thead>
                                    <tbody id="t-body-max-amount"></tbody>
                                </table>
                            </div>
        
                        </div>
                    </div>
                </div> 
                <div class="d-flex">
                    <button id="button-new-account" class="btn w-100">Nova Conta</button>
                </div>
            </div>
        </main>
    {% endblock %}

    {% block scripts %}
        <script type="module" src="/js/pages/pages.account.js"></script>
    {% endblock %}