{% extends "utils/_utils.templates_with_header.html" %}
    {% block head %}
        <title>Finances - Cadastro de Conta</title>
    {% endblock %}

    {% block body %}
        <main style="flex-grow: 1; display: flex; flex-direction: column;">
            <div class="d-flex w-100 justify-content-between align-items-center">
                <h1>Cadastro de Conta</h1>
                <img class="icon-return-page" id="return-page" height="30" width="30" src="{{ url_for('static', filename='img/arrow-back.png') }}" alt="icone-return">
            </div>
            <div><hr></div>
            <div class="d-flex" style="flex-grow: 1;" >
                <form id="form-new-account" class="w-50">
                    <div class="items-input">
                        <div class="form-group mb-2">
                            <label  class="mb-0" for="conta-financeira">Nome</label>
                            <input name="account-name" type="text" id="account-name" class="form-control" autofocus>
                        </div>
    
                        <div class="form-group mb-2">
                            <label  class="mb-0" for="conta-financeira">Saldo Inicial</label>
                            <input inputmode="numeric" type="text" name="account-initial-value" id="account-initial-value" class="form-control" placeholder="00.00" autofocus>
                        </div>
    
                    </div>

                    <button id="add-new-account" type="submit" class="btn w-100">Adicionar</button>
                </form>

            </div>
        </main>
    {% endblock %}

    {% block scripts %}
        <script type="module" src="/js/pages/pages.form.account.js"></script>
    {% endblock %}