html,body{
  height: 100%;
  margin: 0;
  padding: 0;
}

.form-span-error{
    color: red;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 0.9em;
    margin-left: 1%;
}

.form-span-success{
    color: green;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 0.9em;
    margin-left: 1%;
}