table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

}

th,  td {
  padding: 8px;
  text-align: left;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
}



th:nth-child(even) {
  border-radius: 0px 10px 0px 0px;
}

th:nth-child(odd) {
    border-radius: 10px 0px 0px 0px;
}

th{
    background-color: #1500d4;
    color: white;
}