<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% include "utils/_utils.scripts.html" %}
        
        {% block head %}
        
        {% endblock %}
    </head> 
    <body style="display: none;">
        <div style="display: flex; flex-direction: column; height: 100%;">
            <div>
                <div class="d-flex justify-content-between align-items-center h-100" style="background-color: #5820FF;padding: 1% 2%;color: #fff;">
                    <span style="font-size: 2.05vw; font-weight: bold;">Finances</span>
                    <span class="font-weight-bold" id="header-username-span" style="font-size: 1vw;"></span>
                </div>
            </div>
            <div style="display: flex; flex-grow: 1;">
                <div style="background-color: #8445FF; min-width: 300px;" >
                    <ul class="nav flex-column" style="height: 100%; justify-content: space-between;">
                        <div>
                            <li id="home-option" class="nav-item options-bar">
                                <span class="nav-link">Visão Geral</span>
                            </li>
                            <li id="account-option" class="nav-item options-bar">
                                <span class="nav-link">Contas</span>
                            </li>
                            <li id="transaction-option" class="nav-item options-bar">
                                <span class="nav-link">Lançamento Simples</span>
                            </li>
                            <li id="accountpayable-option" class="nav-item options-bar">
                                <span class="nav-link">Contas a Pagar</span>
                            </li>
                            <li  id="accountreceivable-option" class="nav-item options-bar">
                                <span class="nav-link">Contas a Receber</span>
                            </li>
                            <li id="rebate-option" class="nav-item options-bar">
                                <span class="nav-link">Abatimentos</span>
                            </li>
                        
                        </div>
                        
                        <div style="height: 30%; display: flex; justify-content: space-between;flex-direction: column;">
                            <div>
                                <li class="nav-item options-bar">
                                    <span style="border-top: 1px solid #FFF;" class="nav-link">Cadastros Gerais</span>
                                </li>
                            </div>
                            <div style="background-color: #5820FF;">
                                <li  id="settings-option" class="nav-item options-bar">
                                    <span class="nav-link">Configurações</span>
                                </li>
                                <li id="leave-option" class="nav-item options-bar" >
                                    <span class="nav-link">Sair</span>
                                </li>
                            </div>

                        </div>

                       
                    </ul>
                </div>
                <main class="py-5 px-5 w-100 d-flex">
                    {% block body %}

                    {% endblock %}
                </main>
            </div>
        </div>

        <script type="module" src="/js/pages/__header.config.js"></script>
        {% block scripts %}
           
        {% endblock %}
    </body>
</html>